@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
<AuthorizeView >
    <Authorized>
        <RadzenMenu Style="float:right; margin-left:auto;">
            <RadzenMenuItem Text="@context.User.Identity?.Name">
                <RadzenMenuItem Click="BeginLogOut" Text="Log out" Icon="exit_to_app"></RadzenMenuItem>
            </RadzenMenuItem>
        </RadzenMenu>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
